<ion-view>


    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>
        <ion-nav-title>
        <img src="../img/BEN.png" id="logo2">
            </ion-nav-title>
    </ion-nav-bar>
    <!--
    <div class="bar bar-header bar-light">
        <div id="logo2wrapper">
        <img src="../img/BEN.png" id="logo2">
            </div>
      </div>
    -->
  <ion-content>
      <div class="bar bar-header bar-light" id="reportwrapper">
  <h1 class="title" id="latefont">Not in Class</h1>
</div>



      <!--
  <div class="list card" id="reportwrapper">
  <div class="item item-divider">
    LATE ITCers!
  </div>
  <div class="item item-text-wrap">
    Benjamin PK Myrha <br><br>
    Joe Shamah
  </div>
  -->
  </ion-content>
</ion-view>
