<ion-view>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>

        <ion-nav-buttons side="right">
    <button class="button button-clear" onclick="location.href='/';">
        <img src="../img/BEN.png" id="logo2">
    <i class="icon ion-ios-arrow-right"></i>
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>

  <ion-content>

    <div class="list card">
      <div class="item item-divider">
          <center><h2 id="cheb">Not in Class</h2></center>
        </div>
      <div class="item item-body">

        <h2>Ben Myrha
          <a class="button-stable ion-ios-telephone-outline" ng-href="tel: {{phoneno}}" id="telephone"></a>
          </h2>

       <h2>Joe Shamah
         <a class="button-stable ion-ios-telephone-outline" ng-href="tel: {{phoneno}}" id="telephone"></a>
        </h2>

      </div>
    </div>
  </ion-content>
</ion-view>
